{% extends "base.html" %} {% block content %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Pagina de ayuda</h1>
  </div>
</section>

<div class="album py-5 bg-light" align="center">
    <div >
      <h5 class="card-title" align="center">Andy Roberto Jimenez Macnab</h5>
      <div >
        <h5 class="card-title">Carnet: 202111490</h5>
        <h5 class="card-title">USAC</h5>
        <h5 class="card-title">Laboratorio IPC2</h5>
        
        <iframe src="https://drive.google.com/file/d/15S-1V9i0FBrVEU9TOFCeeqEI9__h3OV4/preview" width="640" height="480" allow="autoplay"></iframe>
        
      </div>
    </div>
  
</div>
{% endblock content %}
